.body__card--entrees, .body__card--plats, .body__card--desserts {
  animation-name: boom;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes boom {
  0% {
    opacity: 0;
    transform: translate(0%, -200%);
  }
  80% {
    opacity: 0;
  }
}
@keyframes anim__box {
  0% {
    width: 0%;
    transform: translate(2%, -2%);
  }
  100% {
    width: 20%;
  }
}
@keyframes anim__encoche {
  0% {
    transform: rotate(270deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.card__row:hover .box__encoche {
  animation-name: anim__box;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
.card__row:hover i {
  animation-name: anim__encoche;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

textarea {
  font-family: "Roboto", sans-serif;
}

button {
  width: 80%;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 900;
}

.section {
  background: #F6F6F6;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65px;
  align-items: center;
  position: relative;
}
header a {
  display: flex;
  align-items: center;
}
header a:visited {
  color: black;
}
header i {
  font-size: 1.8rem;
  position: absolute;
  left: 5%;
}

header img {
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.description h3 {
  font-weight: 600;
  margin: 18px 0 5px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description p {
  margin-left: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prix {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 20%;
  margin-bottom: 16px;
  font-weight: 600;
}

.box__encoche {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 70px;
  width: 0%;
}
.box__encoche i {
  overflow: hidden;
  font-size: 2.5rem;
  color: white;
}

form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #EAEAEA;
}

form ::placeholder {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  text-align: center;
  background: #EAEAEA;
}

footer {
  width: 100%;
  min-height: 195px;
  font-size: 14px;
  background-color: #353535;
  color: #fff;
}

.footer__body {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.footer__body p {
  line-height: 1.8;
}
.footer__body a {
  line-height: 1.8;
}

.footer__body h1 {
  font-size: 1.8rem;
  margin: 25px 0px;
}

.body__row {
  display: flex;
  align-items: center;
}
.body__row p {
  line-height: 1.8;
}
.body__row i {
  width: 8%;
  font-size: 80%;
}

.link {
  text-decoration: none;
  color: #fff;
}

button {
  box-shadow: grey 3px 3px 10px;
  font-size: 1.5rem;
  border-radius: 50px;
  padding: 2.4rem;
  color: #fff;
  background: linear-gradient(180deg, #FF79DA, #FF79DA 10%, #9356DC);
  cursor: pointer;
}
button:hover {
  background: #9356DC;
  color: #F5EDFF;
}
button--full-width {
  width: 100%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 375px;
}

.card3__picture3--photo_menu img {
  width: 100%;
  height: 256px;
  object-fit: cover;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.section__body {
  position: relative;
  margin-top: -40px;
  height: 1100px;
  height: auto;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: #F6F6F6;
}

.section__body--adapteed {
  position: relative;
  margin-top: -40px;
  height: 1190px;
  height: auto;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: #F6F6F6;
}

.body__title {
  display: flex;
  align-items: center;
}
.body__title h1 {
  margin: 38px 0 10px 20px;
  font-size: 26px;
}
.body__title i {
  margin: 38px 0 10px 40px;
  font-size: 2.5rem;
}

.section__footer, .section__footer--adapteed {
  height: 100%;
  margin: 10% 0;
}

.card__title h2 {
  display: inline-block;
  margin: 30px 0 25px 20px;
  padding-right: 5px;
}
.card__title .greenline {
  border-bottom: solid 5px #99E2D0;
}

.card__row {
  display: flex;
  width: 90%;
  height: 70px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 16px;
  background: white;
}

.card__row:last-child {
  margin-bottom: 0px;
}

.section__footer {
  display: flex;
}
.section__footer button {
  margin: auto;
}
.section__footer--adapteed {
  display: flex;
}
.section__footer--adapteed button {
  margin: auto;
}

@media screen and (min-width: 376px) and (max-width: 667px) {
  .main {
    max-width: 667px;
  }
}
@media screen and (min-width: 667px) and (max-width: 992px) {
  .main {
    max-width: 992px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1440px) {
  .main {
    max-width: 1440px;
  }
}
@media screen and (min-width: 1140px) {
  .main {
    max-width: 2240px;
  }
}

/*# sourceMappingURL=style_page_menu.css.map */
