* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

textarea {
  font-family: "Roboto", sans-serif;
}

button {
  width: 215px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 900;
}

.section1 {
  background: #cec2c2;
}

input {
  background: #eee3e3;
}

header {
  display: flex;
  height: 65px;
  align-items: center;
}

.icone {
  display: none;
}

header img {
  margin-left: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 375px;
}

.section1 {
  height: 340px;
  align-items: center;
  text-align: center;
  background: #eee3e3;
}

form {
  width: 100%;
  background: #cec2c2;
}

form ::placeholder {
  color: black;
}

input {
  height: 50px;
  border: none;
  text-align: center;
  background: #cec2c2;
}

.section1 h2 {
  margin: 40px 0 26px 0px;
  font-weight: 900;
}

.section1 p {
  margin-bottom: 34px;
}

.section2__body {
  height: 420px;
}

.section2__head h2 {
  margin: 52px 0 34px 22px;
}

.section2__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 332px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #eee3e3;
  border-radius: 50px;
  position: relative;
}

.number {
  background: #9356DC;
  border-radius: 50px;
  padding: 5px 10px;
  color: white;
  position: absolute;
  left: -10px;
}

.icone {
  display: flex;
  margin-right: 30px;
  font-size: 110%;
  color: grey;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section3 {
  background: #eee3e3;
}

.section3__head {
  margin: 58px 0 20px 20px;
}

.section3__card3 {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  position: relative;
}

.card3__picture3 img {
  width: 100%;
  height: 176px;
  object-fit: cover;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.card3__title3 {
  background: white;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-bottom: 18px;
  position: relative;
}

.card3__title3 h3 {
  margin: 20px 0 12px 16px;
}

.card3__title3 p {
  margin: 0 0 10px 16px;
}

.card3__title3 i {
  font-size: 2rem;
  position: absolute;
  top: 30%;
  left: 85%;
}

.card3__pub3 {
  position: absolute;
  top: 10%;
  left: 75%;
  background: #99E2D0;
  padding: 5px 5px;
}

footer {
  height: 195px;
  font-size: 14px;
  background-color: #3d3a3a;
  color: #fff;
}

.footer__body {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.footer__body h1 {
  margin: 25px 0px;
}

.body__row {
  display: flex;
  align-items: center;
}

.body__row i {
  width: 8%;
  font-size: 80%;
}

.link {
  text-decoration: none;
  color: #fff;
}

button {
  border-radius: 50px;
  padding: 1.5rem;
  border: 0.1rem solid #9356DC;
  color: #9356DC;
  background: #FF79DA;
  cursor: pointer;
}
button:hover {
  background: #9356DC;
  color: #D6FFF5;
}
button--full-width {
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  height: 65px;
  align-items: center;
}

.icone {
  display: none;
}

header div {
  margin-left: 40px;
}

.section__head img {
  width: 100%;
  height: 256px;
}

.section__body {
  height: 1160px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: #eee3e3;
}

.body__title {
  display: flex;
  align-items: center;
}
.body__title h1 {
  margin: 38px 0 10px 20px;
  font-size: 26px;
}
.body__title p {
  margin-left: 34px;
}
.body__title p i {
  font-size: 2.5rem;
}

.body__card--entrees h2, .body__card--plats h2, .body__card--desserts h2 {
  display: inline-block;
  margin: 30px 0 25px 20px;
  border-bottom: solid 5px #99E2D0;
  padding-right: 5px;
}

.body__card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 70px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 16px;
  background: white;
}

.card__title h3 {
  margin: 16px 0 5px 10px;
  font-weight: 800;
}

.card__texte {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 10px;
}
.card__texte span {
  font-weight: 800;
  width: 10%;
}

.section__footer {
  display: flex;
  margin-top: 40px;
  background: forestgreen;
}

.section__footer button {
  margin: auto;
}

/*# sourceMappingURL=style_page_menu.css.map */
