
.main{    
	display:flex;
	flex-direction: column;
  	max-width: 375px;
}

.card3__picture3--photo_menu img{
	@include photo_menu
}


.section__body{
	position: relative;
	margin-top: -40px;
	height:1100px;
	border-top-left-radius: 45px;
	border-top-right-radius: 45px;
	background-color: ($colour-header2);}

	
.section__body--adapteed
{	position: relative;
	margin-top: -40px;
	height:1190px;
	border-top-left-radius: 45px;
	border-top-right-radius: 45px;
	background-color: ($colour-header2);}

.body__title{
	display:flex;
	align-items: center;
	h1{
		margin:38px 0 10px 20px;
		font-size: 26px;
		
	}
	i{
	margin:38px 0 10px 40px;
	font-size: 2.5rem;
	}
	
}
.section__footer, .section__footer--adapteed
{
	height: 100%;
	margin-bottom:20%;
}


.body__card--entrees, .body__card--plats, .body__card--desserts{
@include block_card_title
}

.card__row{
	display:flex;
	width: 90%;
	height: 70px;
	margin: auto;
	margin-bottom: 15px;
	border-radius: 16px;
	background:white;
}
//.card__title {display: inline-block;width: 70%;background: chartreuse; @include card_menu_title}	
//	.card__texte{@include card_menu_texte}


.section__footer{
	display:flex;
	
	button{margin:auto};
	&--adapteed{
	display:flex;
	button{margin:auto};
	}
}
@media screen and (min-width: 376px) and (max-width:667px)

{
	.main{    
	  max-width: 667px;
	}	
}


@media screen and (min-width: 667px) and (max-width:992px)

{
	.main{    
	  max-width: 992px;
	}	
}


@media screen and (min-width: 992px) and (max-width:1440px)

{
	.main{    
	  max-width: 1440px;
	}
}

@media screen and (min-width: 1140px)
{
	.main{    
	  max-width: 2240px;
	}
}