
.main{    
	display:flex;
	flex-direction: column;
  	max-width: 375px;

}

.section1{
	min-height: 370px;
	height: 100%;
	align-items: center;
	text-align: center;
	background: ($colour-header2);
}



.section1 h2{
	margin: 40px 0 26px 0px;
	@include titres_styles
}

.section1 p{
	line-height: 120%;
	margin-bottom: 34px;

}

.section2__body{

	height: 340px;
}

.section2__head h2{
	margin: 40px 0 26px 20px;
	@include titres_styles
}

.section2__card
{
	display:flex;
	align-items: center;
	justify-content: center;
	box-shadow: ($colour-header1) 3px 3px 10px;
	font-weight: bold;
	width:85%;
	height:80px;
	margin:0 auto;
	margin-bottom: 20px;
	background: ($colour-header2);
	border-radius: 50px;
	position:relative;
	&:hover{
		 background: ($colour-accent);}
		 &:hover i {
			  color:($colour-primary)}
	}
	
.section2__card:last-child{
		margin-bottom: 0px;}

.number{
	background: ($colour-primary);
	border-radius: 50px;
	padding: 6px 9px;
	color: white;
	position:absolute;
	left:-10px;
}

.icone{
	display:flex;
	margin-right: 10%;
	font-size:110%;
	color:grey;
	}

.card{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.section3{
	height: 1220px;
	background: ($colour-header2);
	a
	{ 
	 color :black
	} 
}

.section3__head h2{
	margin: 40px 0 26px 20px;
	@include titres_styles}

.section3__card3{
	display:flex;
	flex-direction: column;
	width:90%;
	margin:auto;
	position:relative;
}


.card3__picture3 img{
	@include photo_acceuil
}

.card3__title3{
	background: white;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	margin-bottom: 18px;
	position:relative;
	h3{
	margin:20px 0 5px 16px;
	font-weight: 600;} 
	p{
	margin:0 0 18px 16px;}
	i{
	font-size: 2rem;
	position:absolute;
	top:30%;
	left:85%;}
}

// etiquette "Nouveau"
.card3__pub3{
	position:absolute;
	top:10%;
	left:70%;
	background:($colour-tertiary);
	color:($colour-texte);
	padding: 5px 8px;
	border-radius: 8%;
}

@media screen and (min-width: 376px) and (max-width:667px)

{
	.main{    
	  max-width: 667px;
	}
}


@media screen and (min-width: 667px) 

{
	.main{    
	  max-width: 1480px;
	  margin:auto;
	}

	.section1{

	height: 100%;
	align-items: center;
	text-align: center;
	background: ($colour-header2);}

	
	.section2__head{
		text-align: center;
	}

	button {
		width: 30%;
  }

	.section2__body
	{
	display: flex;
	flex-direction: row;
	width:100%;
	align-items: center;

	}
	.section2__card{
		display: inherit;
		flex-direction: column;
		box-sizing: border-box;
		width: 30%;
		height: 80%;
		
		margin-bottom:0px;
		
		i{
			display: inherit;
			display:flex;
			font-size: 300%;
			padding:20px;
		
		}
		.icone{
			font-size: 20px;
		}
		span{
			font-size: 2rem;
		}
	}

.section3{

	height: 800px;
	&__head{
		text-align: center;
	}
	&__body{
		display:flex;
		flex-wrap: wrap;
		a {
		width:50%;
		}
	}
}

	footer{
		text-align: center;
		.body__row{justify-content: center;}}
	
	.body__row i{
		width:4%;
	}
	}

