
.main{    
	display:flex;
	flex-direction: column;
  max-width: 375px;
}


.card3__picture3--photo_menu img{
	@include photo_menu
}


.section__body{
	position: relative;
	margin-top: -40px;
	height:1160px;
	border-top-left-radius: 45px;
	border-top-right-radius: 45px;
	background-color: ($colour-header2);}
	
.section__body--adapteed
{	position: relative;
	margin-top: -40px;
	height:1270px;
	border-top-left-radius: 45px;
	border-top-right-radius: 45px;
	background-color: ($colour-header2);}

.body__title{
	display:flex;
	align-items: center;
	h1{
		margin:38px 0 10px 20px;
		font-size: 26px;
		
	}
	i{
	margin:38px 0 10px 40px;
	font-size: 2.5rem;
	}
	
}



.body__card--entrees, .body__card--plats, .body__card--desserts{
@include block_card_title
}

.body__card{
@include card_menu
}
.card__title
{
@include card_menu_title
}	
.card__texte{
@include card_menu_texte
}
.section__footer{
	display:flex;
	margin-top: 40px;
	button{margin:auto};
	&--adapteed{
	display:flex;
	margin-top:48px ;
	button{margin:auto};
	}
}
@media screen and (min-width: 376px) and (max-width:667px)

{
	.main{    
	  background:blue;
	  max-width: 667px;
	}	
}


@media screen and (min-width: 667px) and (max-width:992px)

{
	.main{    
	  background:green;
	  max-width: 992px;
	}	
}


@media screen and (min-width: 992px) and (max-width:1440px)

{
	.main{    
	  background:coral;
	  max-width: 1440px;
	}
}

@media screen and (min-width: 1140px)
{
	.main{    
	  background:darkblue;
	  max-width: 2240px;
	}
}