//memo:essayer transform pour le petit coeur.


@keyframes anim__box {
	0%{
		width: 0%;
		transform: translate(2%,-2%);
	}
	100%{
		width: 20%;
}
}

@keyframes anim__encoche {
	0%{
		transform:rotate(270deg);
	}

	25%{
		transform:rotate(180deg);	
	}


	50%{
		transform:rotate(90deg);
	}


	100%{
		transform:rotate(0deg);
}



}

.card__row{	
	&:hover{
		.box__encoche{
			animation-name: anim__box;
			animation-duration: 1s;
			animation-timing-function: ease-in-out;
			animation-delay: 0s;
			animation-fill-mode: forwards;
		}
		i{
			animation-name: anim__encoche;
			animation-duration: 1s;
			animation-timing-function: linear;
			animation-delay: 0s;
			animation-fill-mode: forwards;
	}
	}
}

.description

{	display: flex;
	flex-direction: column;
	width:100%;
	overflow: hidden;
	white-space: nowrap;

	h3{font-weight: 600;
		margin:18px 0 5px 12px;
		overflow: hidden;
		text-overflow : ellipsis;	
	}
	p{
		margin-left:12px;
		overflow: hidden;
		text-overflow : ellipsis;
	}}


.prix
{display: flex;
justify-content: center;
align-items: flex-end;
width:20%;
margin-bottom:16px;
font-weight: 600;
}

.box__encoche{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: ($colour-tertiary);
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	height: 70px;
	width: 00%;
	i{
	overflow: hidden;
	font-size: 2.5rem;
	color:white;}
}


