header{
	display:flex;
	height: 65px;
	align-items: center;
	position: relative;
	a{
		display: flex;
		align-items: center;
	}
	a:visited 
	{ 
	 color :black
	}

	i {font-size: 1.8rem;
		position:absolute;
		left:5%;}
}
header img{
	width: 50%;
	margin:auto;
}
