body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1{
    font-family: 'Shrikhand', sans-serif;
}

textarea {
    font-family: 'Roboto', sans-serif;
}

button {
    width: 80%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 900;

}

.section{
    background: ($colour-header2)
}
